

.intro{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    color:white;
}
header{
    background-image: url(./images/background2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}


.heading{
  margin:5% 5% 0 5%;
}


.dolzno{
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: rgba(0,0,0,.5);
  width: 100vw;
}

.intro-text{
    position: relative;
    margin-top: 22vh;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 9.5vh;
    letter-spacing: 0.05vh;
}
.intro-podtext{
    position: relative;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 2.005vh;

}
.intro-button{
    box-shadow: 0.07vh 0.06vh 0.28vh 2px rgba(0, 0, 0, 0.24);
    margin-top:2vh;
    border: 3px solid white;
    font-size: 0.875rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 180px;
    height: 50px;
    color: white;
    display: block;
    text-align: center;
    line-height: 45px;
    position: relative;
    transition: all .2s linear;
    cursor:pointer;
}
.intro-button:hover{
    background: #566a79;
    text-decoration: none;
    color: white;
}

.caart{
    position: fixed;
    z-index: 6;
    margin-top: 4vh;
    margin-left: 90%;
    display: block;
     align-items: flex-start;
     border: none;
     color: transparent;
     background: transparent;
     cursor: pointer;
}

@media screen and (max-width:500px) {
  .caart{
    margin-right: 5%;
  }
}


  .intro-button:hover {
    box-shadow: 0px 15px 25px -5px rgba(0, 0, 0, 0.24);
    transform: scale(1.03);
  }
  .intro-button:active {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }


  .caart:hover {
    box-shadow: 0px 15px 25px -5px rgba(0, 0, 0, 0.24);
    transform: scale(1.03);
  }
  .caart:active {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }


  .modalWindow{
    overflow:scroll;
    margin: auto;
    margin-top: 10%;
    height: 99%;
    width: 99%;
    background: white;
    display: flex;
    -webkit-box-pack: center;
    -o-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -o-box-align: center;
    align-items: center;
    position: relative;
  }


  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }








  @media screen and (min-width:300px) and (max-width:500px) {
    .heading{
      margin:0;
    }
    
    .caart{
      margin-left: 80%;
    }

    .intro-text{
      position: relative;
      margin-top: 28vh;
      font-family: 'Anton', sans-serif;
      text-transform: uppercase;
      font-size: 9.5vh;
      width: 98%;
      text-align: center;
      letter-spacing: 0.05vh;
  }

  .dolzno{
    background: rgba(0,0,0,.5);
    max-width:500px;
    min-width:300px;
  }

  }


  @media screen and (min-width:500px) and (max-width:850px) {
    .caart{
      margin-left: 80%;
    }

    .intro-text{
      position: relative;
      margin-top: 22vh;
      font-family: 'Anton', sans-serif;
      text-transform: uppercase;
      font-size: 9.5vh;
      width: 100%;
      text-align: center;
      letter-spacing: 0.05vh;
  }


  }