
 @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);


 body {
	 cursor: default;
	 color: #333;
	 -webkit-font-smoothing: antialiased;
}
button.continueGrey{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.015em;
    font-size: 1em;
    padding: 1em 3em;
	color: grey;
	border-color: grey;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    transition: all 0.25s linear;
}
button.continueGrey::after{
	content: "\276f";
    padding: 0.5em;
    position: relative;
    right: 0;
    transition: all 0.15s linear;
}

button.continueBlack{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.015em;
    font-size: 1em;
    padding: 1em 3em;
	color: black;
	background-color: white!important;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    transition: all 0.25s linear;
}
button.continueBlack::after{
	content: "\276f";
    padding: 0.5em;
    position: relative;
    right: 0;
    transition: all 0.15s linear;
}

button.continueBlack:hover{
	background: black!important;
	color:white;
}

button.continueBlack:active{
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
-webkit-transform: scale(0.78);
transform: scale(0.85);
}
button.continueBlack:focus {
    outline: none;
}


a.continueShopping{
	cursor: pointer;
	border-color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.015em;
	font-size: 0.8em!important;
	padding: 1em;
	color: black;
	background-color:transparent!important;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    transition: all 0.25s linear;
}
a.continueShopping::after{
	content: "\276f";
    padding: 0.5em;
    position: relative;
    right: 0;
    transition: all 0.15s linear;
}

a.continueShopping:hover{
	font-size: 0.81em!important;
}

a.continueShopping:active{
-webkit-transform: scale(0.78);
transform: scale(0.85);
}
a.continueShopping:focus {
    outline: none;
}




 .cf:before, .cf:after {
	 content: " ";
	 display: table;
}
 .cf:after {
	 clear: both;
}
 .cf {
	 *zoom: 1;
}
 .wrap {
	 width: 90%;
	 max-width: 960px;
	 margin:auto;
	 padding: 5% 0;
}
 .projTitle {
	 font-family: 'Montserrat', sans-serif;
	 font-weight: bold;
	 text-align: center;
	 font-size: 2em;
	 padding: 1em 0;
	 border-bottom: 1px solid #dadada;
	 letter-spacing: 3px;
	 text-transform: uppercase;
}
 .projTitle span {
	 font-family: 'Droid Serif', serif;
	 font-weight: normal;
	 font-style: italic;
	 text-transform: lowercase;
	 color: #777;
}
 .heading {
	 padding: 1em 0;
	 border-bottom: 1px solid #d0d0d0;
}
 .heading h1 {
	 font-family: 'Droid Serif', serif;
	 font-size: 2em;
	 float: left;
	 
}

button.continue{
	background: transparent!important;
	color: black!important;
}

 .heading a.continue:link, .heading a.continue:visited  {
	 text-decoration: none;
	 font-family: 'Montserrat', sans-serif;
	 letter-spacing: -0.015em;
	 font-size: 0.75em;
	 padding: 1em;
	 color: #fff;
	 background: black;
	 font-weight: bold;
	 border-radius: 50px;
	 float: right;
	 text-align: right;
	 -webkit-transition: all 0.25s linear;
	 -moz-transition: all 0.25s linear;
	 -ms-transition: all 0.25s linear;
	 -o-transition: all 0.25s linear;
	 transition: all 0.25s linear;
}
button.continue:hover{
	background-color: black!important;
	color:white!important;
}

.cartSection a.count-text{
	text-decoration: none;
	font-size: 1.2em;
	color: #777; 

}

.cartSection .myfkbuttons.minus {
	cursor: pointer;
	border-style: none;
	text-decoration: none;
	 font-family: 'Montserrat', sans-serif;
	 text-align: center;
	position: relative;
	padding: 0  .5em 0 .5em;
	margin: auto;
	 color: #fff;
	 background: #8c8c8c;
	 font-weight: bold;
	 border-radius: 50%;
	 transition: all 0.25s linear;
}

.cartSection .myfkbuttons.minus:focus, .cartSection .myfkbuttons.plus:focus{
	outline: none;
}
.cartSection .myfkbuttons.plus {
	cursor: pointer;
	border-style: none;
	text-decoration: none;
	 font-family: 'Montserrat', sans-serif;
	 text-align: center;
	position: relative;
	padding: 0  .5em 0 .5em;;
	 color: #fff;
	 background: black;
	 font-weight: bold;
	 border-radius: 50%;
	 transition: all 0.25s linear;
}


  .cartSection .myfkbuttons.minus:active, .cartSection .myfkbuttons.plus:active,.btn:active, .heading button.continue:active {
    -webkit-transform: scale(0.78);
    transform: scale(0.85);
  }





 .heading button.continue:after {
	 content: "\276f";
	 padding: 0.5em;
	 position: relative;
	 right: 0;
	 -webkit-transition: all 0.15s linear;
	 -moz-transition: all 0.15s linear;
	 -ms-transition: all 0.15s linear;
	 -o-transition: all 0.15s linear;
	 transition: all 0.15s linear;
}

 .heading a.continue:hover:after, .heading a.continue:focus:after, .heading a.continue:active:after {
	 right: -10px;
}
 .tableHead {
	 display: table;
	 width: 100%;
	 font-family: 'Montserrat', sans-serif;
	 font-size: 0.75em;
}
 .tableHead li {
	 display: table-cell;
	 padding: 1em 0;
	 text-align: center;
}
 .tableHead li.prodHeader {
	 text-align: left;
}

ul.cartWrap{
	padding:0;
}
 .carts {
	 padding: 1em 0;
}
 .carts .items {
	 display: block;
	 width: 100%;
	 vertical-align: middle;
	 padding: 1.5em;
	 border-bottom: 1px solid #d0d0d0;
	 margin-left: 0;
}
 .carts .items.even {
	 background: #fafafa;
}
 .carts .items .infoWrap {
	 display: table;
	 width: 100%;
}
 .carts .items .cartSection {
	 display: table-cell;
	 vertical-align: middle;
}
 .carts .items .cartSection .itemNumber {
	 font-size: 0.75em;
	 color: #777;
	 margin-bottom: 0.8em;
}
 .carts .items .cartSection h3 {
	 font-size: 1em;
	 font-family: 'Montserrat', sans-serif;
	 font-weight: bold;
	 text-transform: uppercase;
	 letter-spacing: 0.025em;
}
 .carts .items .cartSection p {
	 display: inline-block;
	 font-size: 0.85em;
	 color: #777;
	 font-family: 'Montserrat', sans-serif;
}
 .carts .items .cartSection p .quantity {
	 font-weight: bold;
	 color: #333;
}
 .carts .items .cartSection p.stockStatus {
	 color: #8c8c8c;
	 font-weight: bold;
	 padding: 0 0 0 1em;
	 text-transform: uppercase;
}
 .carts .items .cartSection p.stockStatus.out {
	 color: #8c8c8c;
}
 .carts .items .cartSection .itemImg {
	 width: 4em;
	 float: left;
}
 .carts .items .cartSection.qtyWrap, .carts .items .cartSection.prodTotal {
	 text-align: center;
}
 .carts .items .cartSection.qtyWrap p, .carts .items .cartSection.prodTotal p {
	 font-weight: bold;
	 font-size: 1.25em;
}
.prodTotal p {
	margin:0
}
 .carts .items .cartSection p.qty {
	 margin-top: 0.6em;
	display: inline-block;
	 position: relative;
	 text-align: center;
	 font-size: 1em;
}
 .carts .items .cartSection .itemImg {
	 width: 8em;
	 display: inline;
	 padding-right: 0.5em;
	 margin-right:3rem
}
 .special {
	 display: block;
	 font-family: 'Montserrat', sans-serif;
}
 .special .specialContent {
	 padding: 1em 1em 0;
	 display: block;
	 margin-top: 0.5em;
	 border-top: 1px solid #dadada;
}
 .special .specialContent:before {
	 content: "\21b3";
	 font-size: 1.5em;
	 margin-right: 1em;
	 color: #6f6f6f;
	 font-family: helvetica, arial, sans-serif;
}
 a.remove {
	 text-decoration: none;
	 font-family: 'Montserrat', sans-serif;
	 color: #fff;
	 font-weight: bold;
	 background: #e0e0e0;
	 padding: 0.5em;
	 font-size: 0.75em;
	 display: inline-block;
	 border-radius: 100%;
	 line-height: 0.85;
	 -webkit-transition: all 0.25s linear;
	 -moz-transition: all 0.25s linear;
	 -ms-transition: all 0.25s linear;
	 -o-transition: all 0.25s linear;
	 transition: all 0.25s linear;
}
 a.remove:hover {
	 cursor: pointer;
	 background: #f30;
}
 .promoCode {
	 border: 2px solid #efefef;
	 float: left;
	 width: 35%;
	 padding: 2%;
}
 .promoCode label {
	 display: block;
	 width: 100%;
	 font-style: italic;
	 font-size: 1.15em;
	 margin-bottom: 0.5em;
	 letter-spacing: -0.025em;
}
 .promoCode input {
	 width: 85%;
	 font-size: 1em;
	 padding: 0.5em;
	 float: left;
	 border: 1px solid #dadada;
}
 .promoCode input:active, .promoCode input:focus {
	 outline: 0;
}
 .promoCode a.btn {
	 float: left;
	 width: 15%;
	 padding: 0.75em 0;
	 border-radius: 0 1em 1em 0;
	 text-align: center;
}

 .btn:link, .btn:visited {
	 text-decoration: none;
	 font-family: 'Montserrat', sans-serif;
	 letter-spacing: -0.015em;
	 font-size: 1em;
	 padding: 1em 3em;
	 color: #fff;
	 background: black;
	 font-weight: bold;
	 border-radius: 50px;
	 float: right;
	 text-align: right;
	 -webkit-transition: all 0.25s linear;
	 -moz-transition: all 0.25s linear;
	 -ms-transition: all 0.25s linear;
	 -o-transition: all 0.25s linear;
	 transition: all 0.25s linear;
}
 .btn:after {
	 content: "\276f";
	 padding: 0.5em;
	 position: relative;
	 right: 0;
	 -webkit-transition: all 0.15s linear;
	 -moz-transition: all 0.15s linear;
	 -ms-transition: all 0.15s linear;
	 -o-transition: all 0.15s linear;
	 transition: all 0.15s linear;
}

 .btn:hover:after, .btn:focus:after, .btn:active:after {
	 right: -10px;
}
 .promoCode .btn {
	 font-size: 0.85em;
}
/* TOTAL AND CHECKOUT */
 .subtotal {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 float: right;
	 width: 35%;
}
ul.subtotal {
	padding: 0em;
}


 .subtotal .totalRow {
	list-style-type: none;
	 text-align: center;
}

.Final{
	display: flex;
	flex-direction: row;
	margin-bottom:1rem ;
	margin-top:1rem ;
	padding: 0;
	text-align: center;
	align-items: center;
	font-size: 1.25em;
	font-weight: bold;
}

 .final {
	 display: flex;
	 flex-direction: row;
	 margin-bottom:1rem ;
	 margin-top:1rem ;
	 margin-left: 1rem;
	 text-align: center;
	 align-items: center;
	 font-size: 1.25em;
	 font-weight: bold;
}
 .subtotal .totalRow span {
	 display: inline-block;
	 text-align: center;
}

.label {
	text-transform: uppercase;
	margin-right: 0.5em;
	padding: 0;
}
.value{
	padding: 0;
}
 .subtotal .totalRow .label {
	 font-family: 'Montserrat', sans-serif;
	 font-size: 0.85em;
	 text-transform: uppercase;
	 color: #777;
}
 .subtotal .totalRow .value {
	 letter-spacing: -0.025em;
	 width: 35%;
}
 @media only screen and (max-width: 39.375em) {
	 .wrap {
		 width: 98%;
		 padding: 2% 0;
	}
	 .projTitle {
		 font-size: 1.5em;
		 padding: 10% 5%;
	}
	 .heading {
		 padding: 1em;
		 font-size: 90%;
	}
	 .carts .items .cartSection {
		 width: 90%;
		 display: block;
		 float: left;
	}
	 .carts .items .cartSection.qtyWrap {
		 width: 10%;
		 text-align: center;
		 padding: 0.5em 0;
		 float: right;
	}
	 .carts .items .cartSection.qtyWrap:before {
		 content: "QTY";
		 display: block;
		 font-family: 'Montserrat', sans-serif;
		 padding: 0.25em;
		 font-size: 0.75em;
	}
	 .carts .items .cartSection.prodTotal, .carts .items .cartSection.removeWrap {
		 display: none;
	}
	 .carts .items .cartSection .itemImg {
		 width: 25%;
	}
	 .promoCode, .subtotal {
		 padding: 0em;
		float: center;
		 text-align: center;
		 align-items: center;
		 width: 100%;
	}
	 a.btn.continue {
		 width: 100%;
		 text-align: center;
	}
}
 